*.java
*.txt
*.log*
*.properties
*.settings
.classpath
.project
shapes
output
batch
bin
docs
freezedried_data
icons
installer
integration
launchers
lib
misc
repast-licenses
src-gen
SupplyChainTrust.rs
transferFiles
saved
